
.pta-title {
    font-family: "Roboto",Arial,sans-serif !important;
    color: #434343 !important;
    text-align: left !important;
    font-weight: bold !important;
    max-width: none !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    font-size: 25px !important;
    line-height: 40px !important;
    display: block !important;
    margin: 10px 0;
}
.pta-form {
    margin-top: 20px;
    min-height: 20px;
    position: relative;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 0 #e6e6e6;
}
.pta-section-heading {
    display: flex;
    margin: 0;
    border-bottom: 1px solid #e6e6e6;
    padding: 15px 30px;
    color: #333;
    font: 700 15px/30px "Roboto",Arial,sans-serif;
    text-transform: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}
.pta-row {
    display: flex;
}
.pta-labels {
    width: 200px;
    padding: 25px 0 25px 30px;
}
.pta-fields {
    flex: 1;
}
.pta-label {
    font-weight: bold;
    font-size: 15px;
    color: #333;
}
.pta-desc {
    display: block;
    margin: 5px 0 0 0;
    color: #888;
    font: 400 13px/22px "Roboto",Arial,sans-serif;
    letter-spacing: -0.25px;
    font-size: 13px;
}
.pta-fields {
    padding: 25px 30px 25px 40px;
    flex: 1;
}
.pta-input {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 9px 14px !important;
    border: 1px solid #ddd !important;
    border-radius: 4px !important;
    background-color: #fafafa !important;
    color: #333 !important;
    font: 500 15px/20px "Roboto",Arial,sans-serif !important;
    letter-spacing: -0.25px;
    transition: .2s ease-in-out;
    outline: none;
    box-shadow: none;
}
.pta-hr {
    margin: 0 30px;
    display: block;
    border-bottom: 1px solid #e6e6e6;
}
.pta-btn {
    margin: 15px 0 !important;
}
.input-with-btn {
    display: flex;
    gap: 15px;
}
.input-with-btn button{
    max-width: 240px;
    width: 100%;
    height: 40px;
    background: #2980b9;
    border: 0;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.pta-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pta-popup {
    background: #fff;
    max-width: 500px;
    margin: 10px;
    width: 100%;
    border-radius: 4px;
}
.pta-popup-sec {
    width: 100%;
    padding: 25px 30px 0px 30px;
    box-sizing:border-box;
    display: flex;
    flex-direction: column;
}
.pta-select {
    width: 100%;
    margin-top: 10px;
    padding: 8px 14px !important;
    max-width: 100% !important;
}

@media screen and (max-width: 600px) {
    .pta-row {
        flex-direction: column;
    }
    .pta-fields {
        padding: 25px 30px 25px 30px;
    }
    .input-with-btn {
        flex-direction: column;
    }
}